<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="wrapper">
        <h1>Welcome to your NEWS app</h1>
        <p><%= title %></p>

        <div class="news">
            <% if (articles.length > 0) { %>
                <% articles.forEach( (article, index) => { %>
                    <a href="/news/<%= article.id %>" class="news__card">
                        <img src="<%- article.thumbnail_url %>" alt="<%- article.title.rendered %>">
                        <h3><%- article.title.rendered %></h3>
                        <p><%- article.excerpt.rendered %></p>
                    </a>                
                <% }) %>
        
            <% } else { %>
                <p>No articles to display</p>
            <% } %>
        </div>
    </div>
    
</body>
</html>